body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f4f8;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
  }
  
  header {
    justify-content: space-between;
    color: black;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    font-size: 20px;
    font-family: sans-serif;
  }
  
  h1 {
    margin: 0;
    text-align: center;
  }
  
  main {
    padding: 20px 0;
  }
  
  .intro img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
  }
  
  h2, h3, h4 {
    color: #007bff;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  ul li {
    margin: 5px 0;
  }
  
  footer {
    margin: 5px 0;
    padding: 15px;
    color: black;
    border-radius: 5px;
    
  }
  
  section div {
    margin-left: 260px;   
    color: #007bff;
  }

  .legenda {
    position: absolute;
    top: 23%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 35px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
  }
  .psicologicos img {
    width: 50%;
    height: 50%;
    margin-left: 0%;
  }
  .sensorial img {
    width: 50%;
    height: 50%;
  }
  .seletividade img {
    width: 50%;
    height: 50%;
    margin-left: 25%;
  }
  .fatores img {
    width: 50%;
    height: 50%;
  }
  .alimentar img {
    width: 50%;
    height: 50%;
  }
  .impactos img {
    width: 50%;
    height: 50%;
  }