# Ignorar a pasta node_modules
node_modules/

# Ignorar arquivos de log
*.log

# Ignorar arquivos de configuração do ambiente
.env

# Ignorar arquivos temporários
*.tmp

# Ignorar o diretório build
build/